@import "tailwindcss";

@font-face {
  font-family: 'Calluna';
  src: url('/fonts/Calluna-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Order';
  src: url('/fonts/New-Order-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    color: #212121;
  }
}


@theme {
  --breakpoint-xs: 440px;
  --font-new-order: "New Order", sans;
  --font-calluna: "Calluna", sans-serif;
  --color-brown: #32211C;
  --color-background: #fffff6;
  --color-primary: #3D4E54;
  --color-accent: #CB3014;
  --color-olive: #C4C495;
  --color-green: #3D4E54;
  --color-beige: #F6F6F1;
  --color-beige-b: #C5C5C1;
  --width-main: 1320px;
  --width-mobile: 365px;
  --height-footer: 569px;
  --height-footer-mobile: 753px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#custom-substack-embed form {
  margin-top: 40px;
  gap: 0.75rem;
  display: flex;
  outline: none;
  border: none;
  height: 48px;
  font-family: Calluna;
}

#custom-substack-embed input {
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 184px;
  background-color: transparent;
  border: 1px solid #CCC;
  color: var(--color-brown);
  transition: border 0.3s;

  &::placeholder {
    color: var(--color-brown);
  }

  &:focus {
    border: 1px solid var(--color-brown);
  }
}

#custom-substack-embed button {
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--color-green);
  transition: font-size 0.3s;
  color: white;

  &:hover {
    font-size: 1.05rem;
  }
}
